*{
   
   
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-main{
    background-color: black;
    width: 100%;
    height: 170px;
}
.header-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
 
}
.header-logo-img1{
  
 
    padding-top: 15px;
}

.header-properity{
nav{
    ul{
       display: flex;
       justify-content: center;
       gap: 30px;
       margin-top: 30px;
      li{
        a{
            padding: 17px;
font-size: 20px;
            color: #BBBBBB;
            font-family: 'Roboto', sans-serif;
            transition: 1s;
            &:hover{
                color: white;
               
            }
        }
      }
    }
}

}